/* --------------- 自定义UI规范 --------------- */
$--color-base: #0079c3;

$--color-error: #ea5438;
$--color-warning: #f3b046;
$--color-success: #94de44;

$--color-1: #333;
$--color-2: #666;
$--color-3: #999;
$--color-4: #ddd;
$--color-5: #f9f9f9;
$--color-6: #dbf6f5;


$--size-mini: 12px;
$--size-small: 14px;
$--size-medium: 16px;
$--size-large: 18px;
$--size-maximum: 20px;
$--size-title: 22px;
$--size-max: 24px;