@import '@/var.scss';
.modal-confirm *:not(i) {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif !important;
}
.modal-confirm {
  .modal-header {
    padding: 15px 15px 10px;
    margin-bottom: 0;
    border-bottom: 0;
    span {
      font-size: 18px;
      line-height: 1;
      color: #303133;
      font-weight: 400;
    }
    i {
      font-size: 16px;
    }
  }
  .modal-body {
    padding: 10px 15px;
    color: #606266;
    font-size: 14px;
  }
  .modal-footer {
    height: auto;
    line-height: 1;
    padding: 5px 15px 10px;
    text-align: right;
    border-top: 0;
    button {
      padding: 0 15px;
      height: 32px;
      font-size: 12px;
      line-height: 32px;
      border-radius: 3px;
    }
    .modal-save-btn {
      margin-right: 0;
    }
  }
}
.modal-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1999;
  background: rgba(0, 0, 0, .6);
  transition: all .25s;
  animation: fadeIn .3s forwards;
  &.active {
    animation: fadeOut .3s forwards;
  }
}
.modal-box {
  display: flex;
  max-height: 90% !important;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border: 1px solid #E4E7ED;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2000;
  transition: all .5s;
  animation: slideTop .3s forwards;
  transform: translate3d(-50%, -50%, 0);
  &.active {
    animation: slideBottom .3s forwards;
  }
}
@keyframes fadeIn {
  0%  { opacity: 0; }
  100%{ opacity: 1; }
}
@keyframes fadeOut {
  0%  { opacity: 1; }
  100%{ opacity: 0; }
}
@keyframes slideTop {
  0%  { margin-top: -30px; opacity: 0;}
  100%{ margin-top: 0; opacity:1;}
}
@keyframes slideBottom {
  0%  { margin-top: 0; }
  100%{ margin-top: -30px; opacity: 0; }
}
.modal-header {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 18px;
  border-bottom: solid 1px #EBF0FC;
  padding: 20px 20px 12px;
  span {
    flex: 1;
  }
  i {
    cursor: pointer;
    font-size: 20px;
  }
}
.modal-body {
  flex: 1;
  overflow: auto;
  padding: 15px 28px 28px;
}
.modal-footer {
  height: 60px;
  border-top: solid 1px #EBF0FC;
  line-height: 60px;
  text-align: right;
}
.modal-close-btn,
.modal-save-btn {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  cursor: pointer;
  margin-right: 12px;
}
.modal-close-btn {
  border: 1px solid rgba($color: #dcdfe6, $alpha: 0);
  color: #606266;
  background: #fff;
  &:hover,
  &:focus {
    color: $--color-base;
    background-color: rgba($color: $--color-base, $alpha: .15);
    border-color: rgba($color: $--color-base, $alpha: .15);
  }
  &:active {
    color: rgba($color: $--color-base, $alpha: .8);
    border-color: rgba($color: $--color-base, $alpha: .8);
    outline: none;
  }
}
.modal-save-btn {
  color: #fff;
  background-color: $--color-base;
  border: solid 1px $--color-base;
  &:hover,
  &:focus {
    background: rgba($color: $--color-base, $alpha: .8);
    border-color: rgba($color: $--color-base, $alpha: .8);
  }
  &:active {
    background: rgba($color: $--color-base, $alpha: .65);
    border-color: rgba($color: $--color-base, $alpha: .65);
    color: #fff;
  }
  &.loading {
    pointer-events: none;
    opacity: .6;
  }
  i + span {
    margin-left: 5px;
  }
}

.cus__modal__form__container {
  .el-select {
    width: 100%;
  }
  .el-input-group {
    display: flex;
    .el-input-group__prepend,
    .el-input-group__append,
    & > input {
      display: block;
    }
    & > input {
      width: 40px;
      border-left: 0;
      border-right: 0;
      pointer-events: none;
    }
    .el-input-group__prepend,
    .el-input-group__append {
      flex: 1;
      padding: 0;
      border-width: 0;
    }
    .el-input-group__prepend input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      text-align: left;
    }
    .el-input-group__append input {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      text-align: left;
    }
  }
}
